GROQ_API_KEY=your_groq_api_key
BETTER_AUTH_SECRET=any_long_random_string
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
DATABASE_URL=postgresql://user:password@localhost:5432/your_database_name
OLLAMA_URL=http://localhost:11434/api/embeddings
EMBED_MODEL=YOur_embedding_model_name